body {
	background: #ffffff url('http://zerofansub.net/archives/db0/journal_/images/interface/bg.jpg');
	color: rgb(80,67,136);
}
a {
	color: rgb(80,67,136);
	border-bottom: 1px dashed rgb(80,67,136);
}
a:hover {
	border-bottom: 1px solid rgb(80,67,136);
}
#main {
	margin: auto;
	width: 800px;
	margin-top: 20px;
	background: white;
}
#header {
	background: url('http://zerofansub.net/archives/db0/journal_/images/interface/bg-h.png');
	color: blue;
}
#header:before
{
    content: url('http://zerofansub.net/archives/db0/journal_/images/interface/header.png');
}
#header a , h2 a{ text-decoration: none; border-bottom: 0; }
#header a:hover, h2 a:hover { border-bottom: 0; }
.pages {
	padding: 10px;
}
h3 {
	background: rgb(178,195,227) url('http://zerofansub.net/archives/db0/journal_/images/interface/bg-h.png');
	color: rgb(178,195,227);
	padding: 5px;
	border: rgb(178,195,227) 2px solid;
	color: rgb(80,67,136);
	text-align: center;
	font-weight: bold;
	margin-bottom: 5px;
}
h2 {
	border: rgb(178,195,227) 2px solid;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
	font-size: 13px;
	padding : 5px;
	text-align: center;
}
.date {
	float: right;
	font-size: 7px;
	font-weight: bold;
	width: 50px;
}
.auteur {
	float: left;
	font-size: 7px;
	font-weight: bold;
	width: 50px;
}
.news {
	border: rgb(178,195,227) 2px solid;
	padding: 10px;
	margin-bottom: 10px;
	text-indent: 10px;
	white-space: normal;
}
.news img {
	float: right;
	padding: 5px;
}
.infos {
	font-size: 10px;
}
.news li {
	list-style-image: url("images/interface/boule.png");
}
.journal, .blonde, .quarantedeux, .epitech, .reste, .rechercher {
	width: 195px;
	height: 43px;
	padding-top: 80px;
	text-align: center;
}
.commentaires { text-align: right; }
#footer {
	color: rgb(80,67,136);
	text-align: center;
	margin-top: 5px;
	width: 778px;
	height: 15px;
	background: rgb(178,195,227) url('images/interface/bg-h.png');
	border: rgb(178,195,227) 2px solid;
	padding: 10px;
}
#footer a, .titre a { color: rgb(80,67,136);}